.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px rgb(127, 40, 209);
    border-radius: 10px rgb(64, 253, 64);
    margin-top: 30px;
}
#status,#numberOfObejects,#start_model
{
font-size: 18px;

}